<form>
  Name <input type="text" name="pirate[name]">
  Weight <input type="text" name="pirate[weight]">
  Height <input type="text" name="pirate[height]">
  Ship <input type="text" name="pirate[ships][][name]">
  Type <input type="text" name="pirate[ships][][type]">
  Booty <input type="text" name="pirate[ships][][booty]">
</form>
